<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926779979212-hhr5aroabq7csajqkumu03080mu39rs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926779979212-hhr5aroabq7csajqkumu03080mu39rs8</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsd9sjhx1lpnQwvlBLZIzZkeq1-fU__4</string>
	<key>GCM_SENDER_ID</key>
	<string>926779979212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hibiscus.bean</string>
	<key>PROJECT_ID</key>
	<string>bean-7fbe8</string>
	<key>STORAGE_BUCKET</key>
	<string>bean-7fbe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926779979212:ios:fd9478d312e2e1829d1969</string>
</dict>
</plist>